body{
  font-family: sans-serif;
  color:$color;
  background-size:cover;
}

.container {
  @include width(90%);

  &:after{
    display:table;
    content: '';
    clear:both;
  }
}

.container_2{
  @include width(50%);
  margin:50px auto;

    &:after{
      display:table;
      content: '';
      clear:both;
    }
  }

  .container_3{
    @include width(70%);
    margin:0 auto;

      &:after{
        display:table;
        content: '';
        clear:both;
      }
  }
