header{
  height:$header_height;

  .left-navbar{
    @include float;
    @include my-nav;

  }

  .right-navbar{
    @include float;
    @include my-nav;
    text-align: right;
  }

  li{
    @include font-size(15px);
    @include my-navbar-li;


    a{
      @include my-navbar-a;

      &:hover{
        color:blue;
      }
    }

    button{
      padding:5px;
      color:blue;
      background-color:white;
      @include border-radius(5px);
    }
  }
}

hr{
  @include width(90%);
}
