@mixin my-nav{
  width:50%;
  line-height: $header_height;
}

@mixin float{
  float:left;
}

@mixin my-navbar-li{ 
  padding:0 10px;
  display: inline-block;
}

@mixin my-navbar-a{
  text-decoration: none;
  font-weight:bold;
}

@mixin border-radius($radius){
  border-radius: $radius;
}

@mixin width($percentuale){
  width:$percentuale;
}

@mixin font-size($number){
  font-size: $number;
}
